@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Peralta);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/*MAIN COLOR: Crimson(Scarlet) rgba(217, 30, 24,0.8), darker rgb(133, 18, 15)*/

/*---------Estilo General---------*/
*{
    margin: 0;
    padding: 0;
}
.txt-field::-webkit-input-placeholder { color: rgba(0,0,0,0.7); }
.txt-field::-moz-placeholder { color: rgba(0,0,0,0.7); }
.txt-field:-ms-input-placeholder { color: rgba(0,0,0,0.7); }
.form-list{
    list-style: none;
}
.txt-field{
    /*Estilo general para los campos de texto*/
    font-size: 18pt;
    outline: 0;
    border: none;
    background-color: rgba(0,0,0,0.07);
    color: black;
    font-family: 'Lato', monospace, sans-serif;
    border-bottom: 4px solid transparent;
    transition: 0.3s;
    font-weight: bolder;
}
.txt-field:focus{
    border-bottom: 4px solid rgba(217, 30, 24,0.7);
    background-color: transparent;
}

.li-txt{
    margin: 20px;
}
.li-btn{
    text-align: center;
    width: 100% !important;
    margin-top: 20px;
}
.i-active{
    transition: 0.3s;
    color: rgba(217, 30, 24,0.8) !important;
}
button{
    font-family: 'Lato', monospace, sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: 0;
}

/*---------Fin estilos---------*/

/*---------Estilo para frmLogin.php---------*/
/*body del archivo frmLogin.php*/
body#login{
    display: none;
    background: url('/addressBook/view/img/bokeh.jpg');
    background-size: 100%;
}
.login-header{
    height: 4em;
    background-color: rgba(255,255,255,0.2);
}
.project-title{
    font-size: 400%;
    font-family: 'Peralta', cursive;
    letter-spacing: 2px;
    margin-left: 30px;
    color: rgba(0,0,0,0.8);
    text-shadow: 0px -5px rgba(255,255,255,0.3);
}
.login-panel{
    /*Etiqueta article contiene el form*/
    margin-top: 30px; 
}
#login-form{
    text-align: center;
}
.log-t{
    background-color: rgba(255,255,255,0.3)!important;
    width: 60%;
    height: 56px;
    padding-left: 10px;
    margin-left: -4px;
    color: rgba(0,0,0,0.7);
}
.log-t:focus{
    border-color: transparent!important;
    background-color: rgba(255,255,255,0.5)!important;
}
.log-t::-webkit-input-placeholder { color: rgba(0,0,0,0.7); }
.log-t::-moz-placeholder { color: rgba(0,0,0,0.7); }
.log-t:-ms-input-placeholder { color: rgba(0,0,0,0.7); }
#login-form-container{
    /*Div que contiene el formulario*/
    margin: auto;
    width: 500px;
    height: 450px;
    background-color: rgba(255,255,255,0.2);
}
#login-title{
    /*Titulo 'Iniciar Sesion' del formulario*/
    background-color: rgba(255,255,255,0.3);
    font-family: 'Peralta', cursive;
    font-size: 200%;
    color: rgba(217, 30, 24,0.7);
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    margin-bottom: 40px;
    padding: 30px;
    border-bottom: 4px solid rgba(217, 30, 24,0.7);
}
#btnLogin{
    margin-top: 25px; 
    letter-spacing: 1px!important;
    background-color: rgb(217, 30, 24);
    font-size: 14pt;
    box-shadow: 0px 6px rgb(133, 18, 15);
    width: 50%;g
    color: black;
    height: 40px;
}
#btnLogin:hover, #btnLogin:focus{
    margin-top: 27px;
    box-shadow: 0px 4px rgb(133, 18, 15);
    background-color: rgb(217, 30, 24);
    outline: none;
}
#btnLogin:active{
    margin-top: 29px;
    box-shadow: 0px 0px;
}
i.log-i{
    background-color: rgba(255,255,255,0.3);
    color: rgba(217, 30, 24,0.9);
    padding: 10px;
    width: 40px;
    height: 40px;
    transition: all .25s ease;
}
.active-log-i{
    box-shadow: inset 60px 0px rgba(217, 30, 24,0.9);
    color: rgba(0,0,0,0.7)!important;
}
footer{
    position: fixed;
    bottom: 5px;
    width: 100%;
    height: 4em;
    background-color: rgba(255,255,255,0.1);
    padding: 5px;
}
/*---------Fin estilos---------*/

/*---------Estilo para frmMain.php---------*/
/*body del archivo frmMain.php*/
#main{
    background: url('/addressBook/view/img/telephone_booth.jpg');
}
/*Etiqueta section del frmMain. Contenedor principal*/
#main-tabs{
    background-color: rgba(255,255,255,0.5);
    margin: auto;
    margin-top: 2em;
    padding-bottom: 2em;
    width: 65%;
    min-width: 770px;
}
#main-menu > li{
    width: 20%;
    display: inline-block;
    /*padding: 15px 15px 0px 15px;*/
}
/* BotÃ³n para cerrar sesiÃ³n*/
.signOut{
    width: 15%!important;
    text-align: right;
}
.signOut > a{
    color: rgba(255,255,255,0.5);
    transition: all .35s ease;
}
.signOut > a:hover{
    color: rgba(217, 30, 24,0.7);
}
/*Botones del menÃº*/
a.tab-menu{
    font-family: 'Lato', cursive;
    display: block;
    text-decoration: none;
    text-align: center;
    color: rgba(255,255,255,0.7);
    font-weight: bolder;
    font-size: 20pt;
    width: 100%;
    transition: .25s;
    cursor: pointer;
    padding: 20px 0px;
}
a.tab-menu:hover{
    box-shadow: inset 0px 4px rgba(217, 30, 24,0.9);
}
.menu-selected{
    box-shadow: inset 0px 5px rgba(217, 30, 24,0.9);
    color: rgba(0,0,0,0.7)!important;
}
/*Iconos de los botones*/
i.main-i{
    color: rgba(255,255,255,0.5);
    font-size: 90%;
}
/*Texto de los botones*/
#main-menu h4{
    display: inline;
    font-size: 120%;
}
/*Etiqueta UL de los formularios*/
.form-rows{
    padding: 30px 0px 0px 50px; 
}
/*Se usa en el formulario create para alinear li
en una misma fila*/
.form-rows > li{
    display: inline-block;
    width: 45%;
    margin: 5px;
}
/*Se usa en formularios con pocos campos para centrarlos
y darles margenes*/
.ul-frm-v2{
    margin-top: 50px;
    text-align: center;
}
.ul-frm-v2 > li{
    margin: 20px;
}
/*Ancho para los campos de texto de los formularios en main*/
.main-txt{
    width: 280px;
}
/*Iconos de los formularios*/
i.form-i{
    color: rgba(0,0,0,0.7);
    text-align: center;
    width: 40px;
    height: 40px;
}
/*Botones de los formularios*/
.form-btn{
    background-color: rgba(217, 30, 24,0.8);
    font-size: 14pt;
    margin-top: 50px !important;
    width: 200px;
    height: 60px;
    transition: .25s ease;
}
.form-btn:hover, .form-btn:focus{
    box-shadow: 0px 4px rgb(133, 18, 15);
    background-color: rgb(217, 30, 24);
    outline: none;
    color: white;
    text-shadow: 0px 0px 15px white;
}
.tab{
    display: none;
}
.result-view{
    display: none;
    overflow: auto;
    height: 200px;
    width: inherit;
}
/*tabla para mostrar resultados en result-view*/
nav.table-menu{
    display: none;
    font-family: 'Lato', monospace, sans-serif;
    width: 100%;
    height: 20px;
}
.toolbar{
    background: none!important;
}
.toolbar li{
    display: inline-block;
    font-size: 100%;
    width: 80px;
    height: inherit;
    transition: all .25s ease;
}
.table-view{
    width: 100%;
    border-collapse: collapse;
    font-family: 'Lato', monospace, sans-serif;
}
.table-view th{
    background-color: rgb(217, 30, 24);
    font-size: 120%;
    padding: 5px 0px 5px 0px;
}
.table-view td{
    font-weight: bolder;
    font-size: 90%;
    min-width: 120px;
    transition: all .25s ease;
    border-bottom: 2px solid gray;
}
.table-view td:focus{
    background-color: #ccc;
    text-shadow: 0px 0px 15px black;
    outline: 0;
    border-bottom: 2px solid rgb(217, 30, 24);
}
.table-view td:hover{
    background-color: rgba(217, 30, 24,0.8);
}
.table-view tr{
    background-color: rgba(255,255,255,0.5);
}
.table-view tr:nth-child(2n){
    background-color: #eee;
}
.close-table:hover{
    color: red;
    cursor: pointer;
}
.save-table:hover{
    color: green;
    cursor: pointer;
}
/*---------Fin estilos---------*/

