@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@font-face{
    font-family: Roboto;
    src: url('../fonts/Roboto-Thin.ttf');
}

/*---------Estilo General---------*/
.form-list{
    list-style: none;
    padding: 0;
}
.txt-field{
    /*Estilo general para los campos de texto*/
    font-size: 18pt;
    outline: 0;
    border: none;
    background-color: rgba(0,0,0,0.1);
    color: black;
    font-family: Roboto, monospace, sans-serif;
    border-bottom: 4px solid transparent;
    transition: 0.3s;
    font-weight: bolder;
}
.txt-field:focus{
    border-bottom: 4px solid #E65100;
    background-color: transparent;
}
::-webkit-input-placeholder{
    color: black;
}
::-moz-placeholder{
    color: black;
}
.li-txt{
    margin: 20px;
}
.li-btn{
    text-align: center;
    width: 100% !important;
    margin-top: 20px;
}
.i-active{
    transition: 0.3s;
    color: #E65100 !important;
}
button{
    font-family: Roboto, monospace, sans-serif;
    font-weight: bold;
    border: none;
    transition: 0.4s;
    cursor: pointer;
    outline: 0;
}
.msgBox{
    background-image: url('/mvc_project1/view/img/box-error.png');
    margin: auto;
    width: 300px;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    letter-spacing: 1px;
    display: none;
    box-shadow: 0px 28px 25px -25px black;
}

/*---------Fin estilos---------*/

/*---------Estilo para frmLogin.php---------*/
/*body del archivo frmLogin.php*/
#login{
    background-color: #eee;
    font-family: 'Kaushan Script', cursive;
}
.login-panel{
    /*Divs que dividen el index en 2 partes verticales*/
    position: absolute;
    top: 5px; bottom: 5px;
    width: 50%;
}
#login-left{
    /*Div-izquierda*/
    left: 5px;
    background-image: url('/mvc_project1/view/img/fondo.png');
    box-shadow: 30px 0px 50px -15px black;
}
#login-right{
    /*Div-Derecha*/
    right: 0;
    z-index: -1;
}
#login-form{
    /*Etiqueta form..Estilo box del formulario*/
    margin: auto;
    margin-top: 100px;
    text-align: center;
    width: 90%;
}
#login-form-container{
    /*Div que contiene el formulario*/
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    width: 400px;
    height: 300px;
    box-shadow: 0px 10px 25px 0px black;
}
#login-title{
    /*Titulo 'Login' del formulario*/
    background-image: url('/mvc_project1/view/img/fondo.png');
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 40px;
    padding: 10px;
}

#login-logo{
    /*Div anidado en la seccion izquierda que contiene el titulo*/
    font-family: 'Kaushan Script', cursive;
    background-image: url('/mvc_project1/view/img/Contacts.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 550%;
    text-shadow: 2px 2px 15px white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 80%;
}
#btnLogin{
    background-image: url('/mvc_project1/view/img/fondo.png');
    margin-top: 10px;
    font-size: 16pt;
    font-weight: bold;
    border: 2px solid #E65100;
    width: 100px;
    height: 40px;
}
#btnLogin:hover{
    color: white;
    outline: none;
    box-shadow: 0px 10px 20px -4px black;
}
#btnLogin:focus{
    color: white;
    outline: none;
    box-shadow: 0px 10px 20px -4px black;
}

i.log-i{
    width: 40px;
    height: 40px;
}
/*---------Fin estilos---------*/

/*---------Estilo para frmMain.php---------*/
/*body del archivo frmMain.php*/
#main{
    background-image: url('/mvc_project1/view/img/background2.png');
}
header > h1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 5em;
    margin: 0;
    text-shadow: 10px 10px 15px #666;
}
/*Etiqueta section del frmMain. Contenedor principal*/
#main-tabs{
    background-color: #eee;
    margin: auto;
    width: 850px;
    height: 600px;
    box-shadow: 0px 25px 50px -15px black;
}
#main-tabs > nav{
    background-image: url('/mvc_project1/view/img/fondo.png');
    height: 80px;
}
#main-menu > li{
    display: inline-block;
    /*padding: 15px 15px 0px 15px;*/
}
/* BotÃ³n para cerrar sesiÃ³n*/
.signOut{
    width: 180px;
    text-align: right;
}
.signOut > a{
    color: black;
    font-size: 100%;
    transition: 0.2s;
}
.signOut > a:hover{
    font-size: 105%;
    text-shadow: 3px 2px 15px #eee;
}
/*Botones del menÃº*/
a.tab-menu{
    font-family: 'Kaushan Script', cursive;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20pt;
    padding: 15px 15px 18px 15px;
    transition: 0.4s;
    cursor: pointer;
}
a.tab-menu:hover{
    background-color: #eee;
}
.menu-selected{
    background-color: #eee;
    text-shadow: 5px 5px 10px #666;
}
/*Iconos de los botones*/
i.main-i{
    color: #eee;
    font-size: 90%;
}
/*Texto de los botones*/
#main-menu h4{
    display: inline;
    font-size: 120%;
}
/*Etiqueta UL de los formularios*/
.form-rows{
    padding: 30px 0px 0px 50px;
}
.form-rows > li{
    display: inline-block;
    width: 45%;
    margin: 5px;
}
/*Ancho para los campos de texto de los formularios en main*/
.main-txt{
    width: 280px;
}
/*Iconos de los formularios*/
i.form-i{
    text-align: center;
    width: 40px;
    height: 40px;
}
/*Botones de los formularios*/
.form-btn{
    background: #D6D6D6;
    margin-top: 50px !important;
    font-size: 1.5em;
    width: 200px;
    height: 60px;
}
.form-btn:hover{
    color: white;
    text-shadow: 0px 0px 15px white;
    background-color: #E65100 !important;
    box-shadow: 0px 10px 20px -4px black;
}
.form-btn:focus{
    color: white;
    text-shadow: 0px 0px 15px white;
    background-color: #E65100 !important;
    box-shadow: 0px 10px 20px -4px black;
}
.tab{
    display: none;
}
/*---------Fin estilos---------*/

